{% for asignacion in asignaciones %}
<tr>
    <td>{{forloop.counter}}</td>
    <td>{{ asignacion.empleadofk }} {{ asignacion.empleadofk.apellidos }}</td>
    <td>{{ asignacion.meta_asignadafk }}</td>
    {% if asignacion.tipo_meta == 1 %}
    <td>Diaria</td>
    {% elif asignacion.tipo_meta == 2 %}
    <td>Quincenal</td>
    {% elif asignacion.tipo_meta == 3 %}
    <td>Mensual</td>
    {% endif %}


    <td>

        <button type="button"
            class="btn btn-warning btn-sm js-update-asignacion"
            data-url="{% url 'ventas:asignacion-update' asignacion.id %}">
            <span class="glyphicon glyphicon-pencil"></span>
            <img src="/static/images/editar.png" title="Editar" width="20" height="20"/>
         </button>
        <button type="button"
          class="btn btn-danger btn-sm js-delete-asignacion"
          data-url="{% url 'ventas:asignacion-delete' asignacion.id %}">
            <span class="glyphicon glyphicon-trash"></span>
             <img src="/static/images/delete.png" title="Editar" width="20" height="20"/>
          </button>
    </td>
{% empty %}
<tr>
      <td colspan="8" class="text-center bg-warning">No hay asignaciones realizadas</td>
</tr>
{% endfor %}