{% extends 'base/base_sistema.html' %}
{% load static %} 
{% block title %}SIAVAC | Asigaciones{% endblock %}
{% block titulo_contenido %}Asignación de Metas{% endblock titulo_contenido%}
{% block previa_contenido %}Lleve un control de ventas por cada vendedor para establecer incentivos.{% endblock previa_contenido%}
{% block inf %}
Edite la asignación de un empleado en específico dando click en <img src="/static/images/editar.png" title="Editar" width="20" height="20"/> o elimine un registro de la tabla en <img src="/static/images/delete.png" title="Eliminar" width="20" height="20"/>. Puede ver el porcentaje de avance del trabajador con respecto a la meta asignada y sus resultados en <strong>Ver Informe de Ventas</strong> 
{% endblock inf%}
{% block bsq %}
  <p style="text-align:center">
    <button type="button" class="btn btn-primary js-create-asignacion" data-url="{% url 'ventas:asignacion-create' %}">
      <span class="glyphicon glyphicon-plus"></span>Agregar nueva Asignación
    </button> 
</p>

  <p style="text-align:center">
    <a href="{% url 'ventas:empleado-meta' %}">
    <button type="button" class="btn btn-primary js-create-proveedor">Ver Informe de Metas
    </button> </a>
  </p>

  Para regresar a la pantalla principal de ventas, haga click en:
  <p style="text-align:center"><a href="{% url 'compras:index' %}">
      <button type="button" class="btn btn-primary js-create-empleado">Regresar a Ventas</button>
    </a></p> 
{% endblock bsq%}
{% block javascript %}
  <script src="{% static 'js/asignaciones.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
  
  <table class="table" id="asignacion-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Empleado</th>
        <th>Meta Asignada</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
     {% include 'ventas/asignacion/asignacion_list_2.html' %}
    </tbody>
  </table>

  <div class="modal fade" id="modal-asignacion">
    <div class="modal-dialog">
      <div class="modal-content">
        
      </div>
    </div>
  </div>
</div>

{% endblock %}