{% extends 'base/base_sistema.html' %}
{% block title %}SIAVAC | Agregar Proveedor{% endblock %}
{% block content %}
    
<h1><br>Agregar Nuevo Proveedor</h1>

    <table class="bordered">
        <tr><td>Nombre del nuevo proveedor:</td><td><input type="text"></td></tr>
        <tr><td>Teléfono:</td><td><input type="text"></td></tr>
        <tr><td>Dirección:</td><td><input type="text"></td></tr>
    </table>
<br>
<table style="margin: 0 auto;">
    <tr><td><button type="submit" class="boton">Guardar</button></td><td>&nbsp;&nbsp;</td>
            <td><button type="submit" class="boton">Cancelar</button></td></tr>
</table>
        {% endblock %}