{% extends 'base/base_sistema.html' %}
{% block title %}SIAVAC | Proveedores{% endblock %}
{% block content %}
<h1>Proveedores</h1>
    <table class="bordered">
    <thead>

    <tr>
        <th>Código</th>        
        <th>Nombre del Proveedor</th>
        <th>Teléfono</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>0001</td>        
        <td>Accesorios y más S.A</td>
        <td>0000-0000</td>
        <td><a href="">Editar</a></td>
    </tr>        
    <tr>
        <td>0002</td>         
        <td>Autos V</td>
        <td>0000-0000</td>
        <td><a href="">Editar</a></td>
    </tr>
    <tr>

        <td>0003</td>         
        <td>Autos y Motos S.A</td>
        <td>0000-0000</td>
        <td><a href="">Editar</a></td>
    </tr>    
    <tr>
        <td>0004</td> 
        <td>Accesorios y Repuestos</td>
        <td>0000-0000</td>
        <td><a href="">Editar</a></td>

    </tr>
    <tr>
        <td>0005</td> 
        <td>Baterías 1</td>
        <td>0000-0000</td>
        <td><a href="">Editar</a></td>
    </tr>
    </tbody>
</table>
<table style="margin: 0 auto;">
    <tr><td colspan="4"><br><button type="submit" class="boton">Agregar Nuevo Proveedor</button></td></tr>
</table>
        {% endblock %}
	