{% extends 'base/base_sistema.html' %}
{% load static %} 
{% block title %}SIAVAC | Inventario{% endblock %}
{% block titulo_contenido %}Inventario{% endblock titulo_contenido%}
{% block previa_contenido %}Lleve un control de los productos de su negocio en existencia.{% endblock previa_contenido%}
{% block inf %}
La tabla presenta el nombre del artículo, la categoría establecida, el proveedor y las unidades en existencia.<br><br>Para regresar al menú principal, haga click en: 
    <p style="text-align:center"><a href="{% url 'ventas:asignacion-list' %}"><button type="button" class="btn btn-primary js-create-empleado">Regresar a Asignaciones</button></a>
  </p>
{% endblock inf%}
{% block content %}

<div>
  <table class="table" id="">
    <thead>
      <tr>
        <th>#</th>
        <th>Producto</th>
        <th>Categoria</th>
        <th>Proveedor</th>
        <th>Existencia</th>

      </tr>
    </thead>
    <tbody>
      {% for prod in productos_existencia %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{ prod.nombre}}</td>
        <td>{{ prod.fkcategoria__nombre}}</td>
        <td>{{ prod.fkproveedor__nombre}}</td> 
        <td>{{ prod.existencia}}</td> 

        {% empty %}

      <tr>
        <td colspan="8" class="text-center bg-warning">No Existen Ventas Realizadas</td>
      </tr>
      {% endfor %}
      
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
  </table>

</div>
<div style="text-align: center;">
  <a class="btn btn-danger" href="{% url 'ventas:informe-existencia-pdf' %}" role="button">
    Generar PDF
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
      <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
    </svg></a>
</div>

{% endblock %}
