{% block titulo_contenido %}Informe de Ventas Totales{% endblock titulo_contenido%}
{% block content %}
<style>
    .img-invoice {
        width: 50px;
        text-align: center;
        margin: 0 auto;
    }

    .head {
        text-align: center;
        text-transform: uppercase;
    }

    #invoice thead tr th {
        text-align: left;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding-top: 4px;
    }

    #invoice thead tr {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #invoice tbody tr {
        padding: 0;
    }

    .text-center{
        text-align: center;
    }
</style>
<div>
  <table id="invoice" >
    <thead>
      <tr>
        <th style="width: 25%;">#</th>
        <th style="width: 35%;">Producto</th>
        <th style="width: 25%;">Cantidad Vendida</th>
        <th style="width: 15%; text-align: right;">Total</th>
      </tr>
    </thead>
    <tbody>
      {% for prod in productos_vendidos %}
      <tr style="padding-top: 3px;">
        <td>{{forloop.counter}}</td>
        <td>{{ prod.articulofk__nombre}}</td>
        <td>{{ prod.cant}}</td>
        <td style="text-align: right;">{{ prod.sub}}</td>
        {% empty %}

      <tr>
        <td colspan="8" class="text-center bg-warning">No Existen Ventas Realizadas</td>
      </tr>
      {% endfor %}
      
    </tbody>
    <tfoot>
        <tr style="border-top: 1px solid black; padding-top: 4px;">
            <th style="text-align: left;"><b>TOTAL</b></th>
            <th></th>
            <th></th>
            <th style="text-align: right;">${{total_vendido}}</th>
        </tr>
    </tfoot>
  </table>

</div>


{% endblock %}