{% extends 'base/base.html' %}
{%block logout%}
{%endblock logout%}
{%block contenido%}
<link rel="stylesheet" type="text/css" href="/static/css/cssB.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/ABCwin.css"/>
    <script type="text/javascript" src="/static/js/ABCwin.js"></script>
<title>SIAVAC | Login</title>
        <div class="banner">
        <div><br>SIAVAC  | <span>Sistema Informático para la Administración y Venta de Accesorios</span><hr></div>
        </div>
        <body id="log">
        <div id="contenedor2">
              <a href= "{% url 'ventas:iniciar' %}" rel="get:id=10" rev="abcwin[500,500]"> <button>Iniciar nueva venta</button> </a>
              <br>
              <a href="{% url 'ventas:sinFinalizar' %}" > <button>Ventas sin finaliza</button> </a>
            <div id="Contenedor">
                <div class="header">
                  {% block formulario %}
                    <div>Administrador<span></span></div>
                </div>
              
               
            <form method='POST'> 
                {% csrf_token %}
                    <div class="login">
                        <div class="opcioncontra">
                            <input type="text" class="form-control" name="user" placeholder="Nombre de Usuario" id="Correo" aria-describedby="sizing-addon1" required="true">
                        </div>
                        <div class="opcioncontra">
                            <input  type="password" name="pass" class="form-control" placeholder="******" aria-describedby="sizing-addon1" required="true">
                        </div>
                        <div class="opcioncontra">
                        <button type="submit" >Iniciar</button> 
                        </div>
                    </div>
            </form>
             {% endblock formulario %}
            </div>  
        </body> 
{%endblock contenido%}
