{% extends 'base/b_login.html' %}
{%block logout%}
{%endblock logout%}
{% block titulo_contenido %}Administrador{% endblock titulo_contenido%}
{% block inf %} 
<p style="text-align:center"><a href= "{% url 'ventas:iniciar' %}" rel="get:id=10" rev="abcwin[500,500]"> <button class="btn btn-primary js-create-empleado">Iniciar Nueva Venta</button></a></p>
<p style="text-align:center"><a href="{% url 'ventas:sinFinalizar' %}" > <button class="btn btn-primary js-create-empleado">Ventas sin Finalizar</button> </a></p>
<p style="text-align:center"><a href="/inventario/inventario2" > <button class="btn btn-primary ">Consultar Inventario</button> </a></p>{% endblock inf%}
                
{%block content%}
       
                  {% block formulario %}       
            <form method='POST'> 
                {% csrf_token %}
                    <div class="login">
                        <div class="opcioncontra">
                            <input type="text" class="form-control" name="user" placeholder="Nombre de Usuario" id="Correo" aria-describedby="sizing-addon1" required="true">
                        </div>
                        <div class="opcioncontra">
                            <input  type="password" name="pass" class="form-control" placeholder="******" aria-describedby="sizing-addon1" required="true">
                        </div>
                        <div class="opcioncontra">
                            <br>
                        <p style="text-align:center"><button type="submit" class="btn btn-primary js-create-empleado">Iniciar Sesión</button></p>
                        </div>
                    </div>
            </form>
             {% endblock formulario %}
            </div>  
        </body> 
{%endblock content%}
