{% load static %}
<!DOCTYPE html>
<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{% static 'css/cssB.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
</head>
<body>
	<div class="banner">
		<div><br>SIAVAC  | <span>Sistema Informático para la Administración y Venta de Accesorios</span><hr>
		</div>
		</div>
		<nav class="navegacion">
			<ul class="menu">
				{%block encabezado%}
				<li><a href="{% url 'inventario:inventario' %}">Inventario</a></li>
				<li><a href="/compras/articulo">Compras</a></li>
			{%endblock encabezado%}
				<li style="float:right" class="salir"><a href="{%  url "seguridad:logout"%}">Cerrar Sesión</a></li>
			</ul>
		</nav>
		{% block content %}
		{% endblock content%}


	
	<script src="{% static 'js/jquery-3.4.1.min.js' %}" ></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	{% block javascript %}

{% endblock javascript %}
</body>
<footer>SIAVAC  | Diseno de Sistemas I - 2020</footer>
</html>