{% load static %}
<!DOCTYPE html>

<header id="header">
		<title>{% block title %}{% endblock %}</title>
			<link rel="stylesheet" href="{% static 'css/cssB.css' %}">
			<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
            <link rel="stylesheet" href="{% static 'css/cssF.css' %}">
            <link rel="stylesheet" href="{% static 'css/cssG.css' %}">
            <script type="text/javascript" src="/static/js/jquery.min.1.9.js"></script>
            <script type="text/javascript" src="/static/js/jquery.min.js"></script>
            <script type="text/javascript" src="/static/js/script1.js"></script>
            <link rel="stylesheet" type="text/css" href="/static/css/ABCwin2.css"/>
            <script type="text/javascript" src="/static/js/ABCwin2.js"></script>


    <div class="container">
      <div class="logo float-left">
        <h1 class="text-light"><a href="" class="scrollto"><span>SIAVAC</span></a></h1>
      </div>
      {%block navegacion%}
      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          {%block encabezado%}
				<li><a href="{% url 'inventario:inventario' %}">Inventario</a></li>
				<li><a href="{% url 'compras:index' %}">Compras</a></li>
                <li><a href="{% url 'inventario:notif'  %}" rel="get:id=10" rev="abcwin[500,auto]">Notificaciones</a></li>
			{%endblock encabezado%}
				<li style="float:right" class="salir"><a href="{%  url "seguridad:logout" %}">Cerrar Sesión</a></li>
        </ul>
      </nav><!-- .main-nav -->
      {%endblock navegacion%}
    </div>
  </header><!-- #header -->
<body>
	<section id="about">

      <div class="container">
        <div class="row">

          <div class="col-4">
            <div class="about-content">
              <h2>{% block titulo_contenido %}{% endblock titulo_contenido%}</h2>
              <h3>{% block previa_contenido %}{% endblock previa_contenido%}</h3>
              <p>{% block inf %}{% endblock inf%}</p>
                {% block bsq %}
		{% endblock bsq%}
            </div>
          </div>

          <div class="col-8">
            <div class="about-content">
              {% block content %}{% endblock content%}
            </div>
          </div>
        </div>
      </div>

    </section>
{%block propio%}
{%endblock propio%}
		
	
	<script src="{% static 'js/jquery-3.4.1.min.js' %}" ></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	{% block javascript %}
	{% endblock javascript %}
</body>
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        Proyecto <strong>SIAVAC</strong> | Sistema Informático para la Administración y Venta de Accesorios
      </div>
      <div class="credits">
        Diseño de Sistemas I - 2020
      </div>
    </div>
  </footer>

</html>