{% load static%}
<!DOCTYPE html>
<html>
<head>
	<title>{%block titulo%}siavac{%endblock titulo %}</title>
	{%block CSS%}
	{%endblock CSS%}
	
</head>
<body>
{%block logout%}

<div id="header">
			<ul class="nav"
				
				{%block logoutt%}
				<li style="float:right" class="salir"><a href="{%  url "seguridad:logout"%}">Salir</a></li>
				{%endblock logoutt%}
			</ul>
		</div>
<hr>

{%endblock logout%}
{%block navegacion%}
{%endblock navegacion%}

{%block contenido%}
{%endblock contenido%}



</body>
</html>