{% extends 'base/base_sistema.html' %}
{% block title %}SIAVAC | Existencias{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/ABCwin.css"/>
<script type="text/javascript" src="/static/js/ABCwin.js"></script>

    <h1>Existencias</h1>
    <table class="bordered">
    <thead>
    <tr><th>Nombre</th><th>Descripción</th><th>Precio de compra</th><th>Precio de venta</th> <th>Existencias</th><th colspan="2" align="center">Acciones</th></tr>
	</thead>
	<tbody>
   {% for producto in productos%}
   <tr>
   	<td>{{producto.nombre}}</td>
   	<td>{{producto.descripcion}}</td>
   	<td>{{producto.preciocompra}}</td>
   	<td>{{producto.precioventa}}</td>
   	<td>{{producto.existencia}}</td>
   	<td><a href="{% url 'inventario:gestprod' producto.id %}" rel="get:id=10" rev="abcwin[500,auto]">Modificar {{producto.id}}</a></td><td><a href="">Eliminar</a></td>
   </tr>
   {%endfor%}
    </tbody>
</table>
<table style="margin: 0 auto;">
    <tr><td colspan="4"><br><button type="submit" class="boton">Agregar Nuevo Producto</button></td></tr>
</table>
        {% endblock %}