{% for meta in metas %}
<tr>
    <td>{{forloop.counter}}</td>
    <td>{{ meta.monto_asignado }}</td>
    <td>{{ meta.descripcion }}</td>
    <td>{{ meta.monto_logrado }}</td>

    <td>

        <button type="button"
            class="btn btn-warning btn-sm js-meta-empleado"
            data-url="{% url 'ventas:meta-update' meta.id %}">
            <span class="glyphicon glyphicon-pencil"></span>
            <img src="/static/images/editar.png" title="Editar" width="20" height="20"/>
         </button>
        <button type="button"
          class="btn btn-danger btn-sm js-delete-meta"
          data-url="{% url 'ventas:meta-delete' meta.id %}">
            <span class="glyphicon glyphicon-trash"></span>
             <img src="/static/images/delete.png" title="Editar" width="20" height="20"/>
          </button>
    </td>
{% empty %}
<tr>
      <td colspan="8" class="text-center bg-warning">No Existen Metas</td>
</tr>
{% endfor %}

