<form method="POST" action="{% url 'ventas:empleado-delete' empleado.id %}" class="js-empleado-delete-form">
    {% csrf_token %}
    <div class="modal-header">
      <h4 class="modal-title">Aviso: Confirmar Eliminación</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p class="lead">¿Está seguro que desea eliminar permanentemente a <strong>{{ empleado.nombre }}</strong>? ¡LA INFORMACIÓN YA NO PODRÁ RECUPERARSE!</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      <button type="submit" class="btn btn-danger">Eliminar</button>
    </div>
  </form>