{% load crispy_forms_tags %}

<form method="POST" action="{% url 'compras:proveedor-update' form.instance.pk %}" class="js-proveedor-update-form">
  {% csrf_token %}
  <div class="modal-header">
    
    <h4 class="modal-title">Actualizar Datos del Proveedor</h4>
  </div>
  <div class="modal-body">
    {{ form|crispy }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-primary">Actualizar</button>
  </div>
</form>