{% block content %}

<div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Empleado</th>
        <th>Meta Asignada</th>
        <th>Monto Logrado</th>
        <th>% de Avance</th>
      </tr>
    </thead>
    <tbody>


      {% for total in totales %}
      <tr>


        <td>{{forloop.counter}}</td>
        <td>{{ total.empleadofk__nombres }}</td>
        <td>{{ total.meta_asignadafk__monto_asignado__sum }}</td>
        <td>{{ total.meta_asignadafk__monto_asignado__sum }}</td>
        <td>{% widthratio total.meta_asignadafk__monto_asignado__sum total.meta_asignadafk__monto_asignado__sum 1 %}
        </td>
        {% empty %}

      <tr>
        <td colspan="8" class="text-center bg-warning">No Existen Metas</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

<a href="{% url 'ventas:asignacion-list' %}">Atras</a>

{% endblock %}