{% for empleado in empleados %}
<tr>
    <td>{{forloop.counter}}</td>
    <td>{{ empleado.nombres }}</td>
    <td>{{ empleado.apellidos }}</td>
    <td>{{ empleado.telefono }}</td>
    <td>{{ empleado.dui }}</td>
    <td>{{ empleado.nit }}</td>

    <td>
      <a href="{% url 'ventas:empleado-update' empleado.id %}" rel="get:id=10" rev="abcwin[500,auto]"><img src="/static/images/editar.png" title="Editar" width="20" height="20"/></a>
       <a href="{% url 'ventas:empleado-delete' empleado.id %}" rel="get:id=10" rev="abcwin[500,auto]"><img src="/static/images/delete.png" title="Eliminar" width="20" height="20"/></a>
    </td>
{% empty %}
<tr>
      <td colspan="8" class="text-center bg-warning">No Existen Empleados</td>
</tr>
{% endfor %}