{% extends 'base/base_sistema.html' %}
{% load static %} 
{% block title %}SIAVAC | Informe de Productos por Categoria{% endblock %}
{% block titulo_contenido %}Informe de Productos por Categoria{% endblock titulo_contenido%}
{% block previa_contenido %}Lleve un control de ventas por cada vendedor para establecer incentivos.{% endblock previa_contenido%}
{% block inf %}
La tabla presenta el nombre del empleado, la meta que se le asignó y el monto total obtenido en las ventas realizadas. Se muestra también, el porcentaje de avance del trabajador con respecto a la meta y sus resultados. <br><br>Para regresar al menú principal, haga click en: 
    <p style="text-align:center"><a href="{% url 'ventas:asignacion-list' %}"><button type="button" class="btn btn-primary js-create-empleado">Regresar a Asignaciones</button></a>
  </p>
{% endblock inf%}
{% block content %}
<div>
  <table class="table" id="proveedor-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Categoria</th>
        <th>Productos Vendidos</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for prod in productos_vendidos %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{ prod.articulofk__nombre}}</td>
        <td>{{ prod.cant}}</td>
        <td>{{ prod.sub}}</td>
        {% empty %}

      <tr>
        <td colspan="8" class="text-center bg-warning">No Existen Ventas Realizadas</td>
      </tr>
      {% endfor %}
      
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_vendido}}</th>
        </tr>
    </tfoot>
  </table>

</div>


{% endblock %}