#izquierda{
	margin-left: 0px;
    margin-bottom: 0px;
}
#derecha{
	margin-left: 60%;
    margin-bottom: 100%;
    margin-top: -29%;
}
#principal{
	width: 400px;
	height: 200px;
}
#centrar{
	text-align: center;
	align: center;
	width: 90%;
	position: absolute;
	border:1px solid #808080;
	top:15%;
	left:5%;
	background:  #91a0a0  ;
}
.button{
width:222px;
height:80px;
}
#scroll{
	height: 220px;
}



table.table {
	width: 600px;
  border: 3px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 30%;
  text-align: left;
  border-collapse: collapse;

}
table.table td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;

}
table.table tbody td {
  font-size: 13px;

}
table.table tr:nth-child(even) {
  background: #D0E4F5;
}
table.table thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;

}
table.table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;

}
table.table thead th:first-child {
  border-left: none;
}

table.table tfoot td {
  font-size: 14px;
}
table.table tfoot .links {
  text-align: right;
}
table.table tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
#linea{
	width: 50px;
}

.boton2{
    background-color: darkgreen;
    border: none;
    color: white;
    text-align:center;
    text-decoration:none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
    margin-top: 0px;
    margin-left: 0%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.boton2:hover{
    background-color: blue;
    color:white;
}

.contenedor2{
    width: 80%;
    margin: auto;
    background: black;
    color: Green;
    padding: 50px 70px 80px 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 80px rgba(0, 0, 0, 0.8);
}

#contenido2{
    clear: both;
    color: Black;
    background: #C3C6C3;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    border: 2px solid bisque;
    width: 80%px;
}

.boton3{
    background-color: darkgreen;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align:center;
    text-decoration:none;
    display: inline-block;
    font-size: 25px;
    border-radius: 8px;
    margin-top: 0px;
    margin-left: 0%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.boton3:hover{
    background-color: blue;
    color:white;
}

#encabezado{
	text-align: center;
}