{% for proveedor in proveedors %}
<tr>
    <td>{{forloop.counter}}</td>
    <td>{{ proveedor.nombre }}</td>
    <td>{{ proveedor.telefono }}</td>
    <td>{{ proveedor.direccion }}</td>
    <td>{{proveedor.nombreRepresentante}}</td>
    <td>{{proveedor.telefonoPersonal}}</td>
    <td>
        <button type="button"
            class="btn btn-warning btn-sm js-update-proveedor"
            data-url="{% url 'compras:proveedor-update' proveedor.id %}">
            <span class="glyphicon glyphicon-pencil"></span>
            <img src="/static/images/editar.png" title="Editar" width="20" height="20"/>
         </button>
        <button type="button"
          class="btn btn-danger btn-sm js-delete-proveedor"
          data-url="{% url 'compras:proveedor-delete' proveedor.id %}">
            <span class="glyphicon glyphicon-trash"></span>
             <img src="/static/images/delete.png" title="Editar" width="20" height="20"/>
          </button>
    </td>
{% empty %}
<tr>
      <td colspan="8" class="text-center bg-warning">No proveedores</td>
</tr>
{% endfor %}