{% extends 'base/base_sistema.html' %}
{% load static %} 
{% block title %}SIAVAC | Proveedores{% endblock %}
{% block titulo_contenido %}Proveedores{% endblock titulo_contenido%}
{% block previa_contenido %}Gestione la información de los proveedores con los que trabaja y los pedidos que realiza.{% endblock previa_contenido%}
{% block inf %}
Edite la información de un proveedor dando click en <img src="/static/images/editar.png" title="Editar" width="20" height="20"/> al lado del elemento que desea modificar. Elimine un proveedor de la tabla haciendo click en <img src="/static/images/delete.png" title="Eliminar" width="20" height="20"/>. Puede agregar un nuevo proveedor en:
{% endblock inf%}
{% block bsq %}
<p style="text-align:center">
      <button type="button" class="btn btn-primary js-create-proveedor"
          data-url="{% url 'compras:proveedor-create' %}">
      <span class="glyphicon glyphicon-plus"></span>
      Agregar Nuevo Proveedor
    </button> 

</p>
Para regresar a la pantalla principal de compras, haga click: 
<p style="text-align:center"><a href="{% url 'compras:index' %}"><button type="button" class="btn btn-primary js-create-proveedor">Regresar a Compras</button></a></p>
{% endblock bsq%}

{% block javascript %}
  <script src="{% static 'js/proveedors.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
  <table class="table" id="proveedor-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
     {% include 'compras/proveedor/proveedor_list_2.html' %}
    </tbody>
  </table>

  <div class="modal fade" id="modal-proveedor">
    <div class="modal-dialog">
      <div class="modal-content">
        
      </div>
    </div>
  </div>
</div>


{% endblock %}