{% extends 'base/base_sistema.html' %}
{% load static %}
{% block navegacion %}
<nav class="main-nav float-right d-none d-lg-block">
<ul>
    <li><a href="{% url 'ventas:sinFinalizar' %}">Ventas pendientes</a></li>
    {% if pedid.total > 0 %}
         <li><a href="{% url 'ventas:finalizar' pedid.id %}" rel="get:id=10" rev="abcwin[500,500]">Finalizar venta</a></li>
    {% endif %}
   
    <li><a href="{% url 'ventas:cancelar' pedid.id %}">Cancelar venta</a></li>
</ul>
 </nav><!-- .main-nav -->
{% endblock navegacion %}
{% block propio %}
    {% block errorContra %}
    {% if error == True %}
    <h4>Contraseña equivocada, favor introducirla correctamente</h4>
    {% endif %}
    {% endblock errorContra %}
    
    <div>
        <div>
        <label>Cliente: {{pedid.cliente}}</label>
        <br>
        <label>Fecha de facturación: {{pedid.fechaCreada}}</label>
         <br>
        <label>Total actual: {{pedid.total}}</label>

        </div>
        <div>
        </div>
        <div>
        <table table class="table" id="proveedor-table" >
        <caption>Productos a comprar</caption>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% if lineas %}
          {% for linea in lineas %}
            <tr>
                <td>{{linea.articulofk.nombre}}</td>
                <td>{{linea.articulofk.precioventa}}</td>
                <td>{{linea.cantidad}}</td>
                <td>{{linea.subtotal}}</td>
                <th>
                <a href="{% url 'ventas:editar' linea.id %}" rel="get:id=10" rev="abcwin[500,500]">Editar</a>
                <a href="{% url 'ventas:eliminar' linea.id %}">Eliminar</a>
            </tr>
          {% endfor %}
        </tbody>

        {% endif %}
        </table>
        </div>

        <div>
       <table table class="table" id="proveedor-table">
        <caption>Stock</caption>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% if productos %}
           {% for producto in productos %}
            <tr>
                <td>{{producto.nombre}}</td>
                <td>{{producto.descripcion}}</td>
                <td>{{producto.precioventa}}</td>
                <td>{{producto.existencia}}</td>
                <td> <a href= {% url 'ventas:añadir' pedid.id producto.id %} rel="get:id=10" rev="abcwin[500,500]"> Añadir</a>
            </tr>
          {% endfor %}
        {% endif %}
        </tbody>
        </table>
        </div>
    </div>
{% endblock propio %}