{% load static%}
{% block css %}
 	<link rel="stylesheet" type="text/css" href="{% static "css/cssA.css" %}">
 	<script type="text/javascript" src="/static/js/scriptA.js"></script>
 {% endblock css %}
{%block contenido%}

 <div class="contenedor2">
            <div id="contenido2">

			<h1><label> Edición de pedido</label></h1>
<h3>
</h3>
 <div id="principal">
 	<div id="izquierda">
 		<form action="{% url 'compras:editarLinea' idLinea idPedido producto.id idProveedor%}" method='POST'>
 			{% csrf_token %}
 			{{form.as_p}}
			<button type="submit" value="submit" class="boton3">Agregar línea</button>
 		</form>
	</div>
 	<div id="derecha">
 		<div>
 			<button class="boton3" onclick="incrementar()">+</button>
			<button class="boton3" onclick="decrementar()">-</button>
 		</div>
 		
 	</div>
 </div>
 <footer>
 			<a href="{% url 'compras:lin' idPedido idProveedor %}"><button class="boton3">Cancelar</button></a>
 		</footer>

			</div>
 </div>

	
{%endblock contenido%}