{% extends 'base/base_sistema.html' %}
{%block propio%}
<div id="botonera">
	<a href="{% url 'compras:reCom' %}"><button>crear pedido</button></a>
<a href="/compras/proveedor"><button>gestionar proveedores</button></a>

</div>
<style type="text/css">
  botonera {
    color: purple;
    background-color: #d8da3d }
  </style>
{%endblock propio%}
{% block content %}
{%if pedidos%}
<table class="bordered" id="tabla">
	<thead>
		<tr>
			<td>fecha creado</td>
			<td>proveedor</td>
			<td>monto</td>
			<td>estado</td>
			<td>accines</td>
		</tr>
	</thead>
	<tbody>
		
		{%for pedido in pedidos%}
		<tr>
			<td>{{pedido.fechaPedido}}</td>
			<td>{{pedido.fkProveedor.nombre}}</td>
			<td>{{pedido.subtotal}}</td>
			{%if pedido.pendiente == True%}
			<td>pendiente</td>
			{%else%}
			{%if pedido.cancelado == True%}
			<td>Cancelado</td>
			{%else%}
			<td>Recibido</td>
			{%endif%}
			{%endif%}
			<td><a href="">ver detalle</a></td>
		</tr>
		{%endfor%}
		{%else%}
		<label>No hay pedidos registrados</label>
		{%endif%}
	</tbody>
</table>


{% endblock %}
