{% extends 'base/base_sistema.html' %}
{% block title %}SIAVAC | Pedidos{% endblock %}
{% block titulo_contenido %}Pedidos Realizados{% endblock titulo_contenido%}
{% block previa_contenido %}Se presentan los pedidos registrados así como la opción ver detalles para mostrar más información sobre el pedido seleccionado.{% endblock previa_contenido%}
{% block inf %}


Cree un nuevo pedido o gestione la información relacionada con los proveedores seleccionando una de las siguientes opciones: 
<p><a href="{% url 'compras:reCom' %}"><button type="button" class="btn btn-primary js-create-proveedor">Crear Pedido</button></a>
<a href="/compras/proveedor"><button type="button" class="btn btn-primary js-create-proveedor">Gestionar Proveedores</button></a></p>
{% endblock inf%}

{% block content %}
{%if pedidos%}
<table class="table" id="proveedor-table">
	<thead>
		<tr>
			<td>Fecha de Creación</td>
			<td>Proveedor</td>
			<td>Monto</td>
			<td>Estado</td>
			<td>Acciones</td>
		</tr>
	</thead>
	<tbody>
		
		{%for pedido in pedidos%}
		<tr>
			<td>{{pedido.fechaPedido}}</td>
			<td>{{pedido.fkProveedor.nombre}}</td>
			<td>{{pedido.subtotal}}</td>
			{%if pedido.pendiente == True%}
			<td>Pendiente</td>
			{%else%}
			{%if pedido.cancelado == True%}
			<td>Cancelado</td>
			{%else%}
			<td>Recibido</td>
			{%endif%}
			{%endif%}
			<td><a href="">Ver detalle</a></td>
		</tr>
		{%endfor%}
		
	</tbody>
</table>
{%else%}
		<label><h3>No hay pedidos registrados</h3><p>Para ingresar un nuevo pedido, seleccione la opción <strong>Generar Pedido</strong> e ingrese los datos que se le solicitarán.</p></label>
		{%endif%}

{% endblock %}
