{% extends 'base/base_sistema.html' %}
{% block titulo_contenido %}Crear Nuevo Pedido{% endblock titulo_contenido%}
{% block previa_contenido %}Se muestran los productos que ofrece el proveedor y los añadidos al pedido.{% endblock previa_contenido%}
{% block inf %}
Se mostrará una tabla con todos los productos que ofrece el proveedor, seleccione los que desee así como las unidades que necesita adquirir. Puede agregar una nota especial, de considerarlo necesario.
<p><a href="{% url 'compras:cancelar' idPedido%}"><button type="button" class="btn btn-primary js-create-proveedor">Cancelar</button> </a></p>
{%if var != 0%}
<a href="{% url 'compras:index' %}"><button>Terminar</button> </a>
{%endif%}

{% endblock inf%}

{%block content%}
<link rel="stylesheet" type="text/css" href="/static/css/ABCwin.css"/>
<script type="text/javascript" src="/static/js/ABCwin.js"></script>
<table class="table" id="proveedor-table">
	<thead>
		<tr>
			<td>Nombre</td>
			<td>Precio</td>
			<td>Acciones</td>
		</tr>
	</thead>
	<tbody>
		{%if productos%}
			{%for producto in productos%}
				<tr>
					<td>{{producto.nombre}}</td>
					<td>{{producto.precio}}</td>
					<td> <a href="{% url 'compras:add' idPedido producto.id idProveedor%}" rel="get:id=10" rev="abcwin[500,auto]">Agregar</a> </td>
				</tr>
			{%endfor%}
		{%else%}
			<h3>No tenemos productos de este Proveedor.</h3>
		{%endif%}
	</tbody>
</table>


<table class="table" id="proveedor-table">
	<thead>
		<tr></tr>
		<tr>
			<td>Artículo</td>
			<td>Cantidad</td>
			<td>Subtotal</td>
			<td>Comentario</td>
			<td>Acciones</td>
		</tr>
	</thead>
	<tbody>
	{%if detalle%}
			{%for detalle in detalle%}
	
		
				<tr>
					<td>{{detalle.fkProducto.nombre}}</td>
					<td>{{detalle.cantidad}}</td>
					<td>{{detalle.subtotal}}</td>
					<td>{{detalle.comentario}}</td>
					<td><a href="{% url 'compras:borrarLinea'  detalle.id idPedido detalle.fkProducto.id idProveedor %}">Eliminar</td>
					
				</tr>
			{%endfor%}
		{%else%}
			<label><h3>Aún no se ha registrado nada en el pedido</h3><p>Para agregar un artículo al pedido, seleccione un producto de la tabla de arriba y haga click en <strong>add</strong>. Luego, ingrese los datos que se le solicitarán.</p></label>
		{%endif%}
	</tbody>
</table>
{%endblock content%}

