{%block content%}
<link rel="stylesheet" type="text/css" href="/static/css/cssE.css"/>
<div class="aviso">
	<div class="h">Aviso: Confirmar Eliminación</div>
                <div class="mensaje">
                    ¿Está seguro que desea eliminar la cuenta?<br>¡LA INFORMACIÓN YA NO PODRÁ RECUPERARSE!
						<form method="POST" action="{% url 'inventario:elimcuent' idCuenta %}">
						    {% csrf_token %}
						    {{ form.as_p }}
    						<button type="submit" >Eliminar</button>
						</form> 
                </div>
            </div>
{%endblock content%}
