{% load static %}
<link rel="stylesheet" href="{% static 'css/cssF.css' %}">
<link rel="stylesheet" href="{% static 'css/cssG.css' %}">

<table class="table" id="proveedor-table">
    <thead>
    <tr><th>Categoría</th><th>Descripcion</th><th>Acción</th></tr>
    </thead>
    <tbody>
   
    
        {% for notificacion in notificaciones %}
        <tr>
            <td>Existencias en inventario</td>
            <td>{{notificacion.descripcion}}</td>
            <td><a href="/inventario/inventario">Ir al sitio</a></td>
            </tr>
        {% endfor %}
    
    
        {% for pedido in pedidos %}
        <tr>
            <td>Pedidos pendientes</td>
            <td>
                De: {{pedido.fkProveedor.nombre}} para el día {{pedido.fechaPedido}}
            </td>
            <td><a href="/compras/verDetalle/{{pedido.id}}">Ir al sitio</a></td>
            </tr>
        {% endfor %}
    
    </tbody>
</table>