<form method="POST" action="{% url 'compras:articulo-delete' articulo.id %}" class="js-articulo-delete-form">
    {% csrf_token %}
    <div class="modal-header">
      <h4 class="modal-title">Confirmacion</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p class="lead">Esta seguro que desea eliminar el articulo <strong>{{ producto.nombre }}</strong>?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      <button type="submit" class="btn btn-danger">Eliminar Articulo</button>
    </div>
  </form>