{% extends 'base/base_sistema.html' %}
{% load staticfiles %} 
{% block javascript %}
  <script src="{% static 'js/articulos.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
  <h1 class="page-header">Articulos</h1>
  <p>
    <button type="button" class="btn btn-primary js-create-articulo"
          data-url="{% url 'compras:articulo-create' %}">
      <span class="glyphicon glyphicon-plus"></span>
      Nuevo Articulo
    </button>
  </p>

  <table class="table" id="articulo-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Descripcion</th> 
        <th>Precio de Venta</th>
        <th>Precio de Compra</th>
        <th>Existencias</th>
        <th>Promocion</th>
        <th>Proveedor</th>
        
        <th>Operaciones</th> 
      </tr>
    </thead>
    <tbody>
     {% include 'compras/articulo/articulo_list_2.html' %}
    </tbody>
  </table>

  <div class="modal fade" id="modal-articulo">
    <div class="modal-dialog">
      <div class="modal-content">
        
      </div>
    </div>
  </div>


</div>
{% endblock %}


