{% for articulo in articulos %}
<tr>
    <td>{{forloop.counter}}</td>
    <td>{{ articulo.nombre }}</td>
    <td>{{ articulo.descripcion }}</td>
    <td>{{ articulo.precioventa }}</td>
    <td>{{ articulo.preciocompra }}</td>
    <td>{{ articulo.existencia }}</td>
    <td>{{ articulo.promocion }}</td>
    <td>{{ articulo.fkproveedor }}</td>

   

    <td>
        <button type="button"
            class="btn btn-warning btn-sm js-update-articulo"
            data-url="{% url 'compras:articulo-update' articulo.id %}">
            <span class="glyphicon glyphicon-pencil"></span>
            Edit
         </button>
        <button type="button"
          class="btn btn-danger btn-sm js-delete-articulo"
          data-url="{% url 'compras:articulo-delete' articulo.id %}">
            <span class="glyphicon glyphicon-trash"></span>
             Delete
          </button>
    </td>
{% empty %}
<tr>
      <td colspan="9" class="text-center bg-warning">No hay articulos registrados</td>
</tr>
{% endfor %}